.topbar, .topbar a {
    color: white !important;
}

.topbar {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 2rem;
}

.topbar, .topbar nav {
    background-color: var(--theme-color);
}

.topbar .nav-item {
    margin-left: 10px;
}
