body {
    margin: 0;
    cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/820793/cursor-auto.png), auto;
    background: white;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}
g, path {
    transform-origin: 240px 244px;
}

@keyframes scale {
    to { transform: scale(1, 1); }
}

@keyframes draw {
    to { stroke-dashoffset: 0 }
}
